/* ProductDetail.css */

/* Main container */
.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Flex container for two main sections */
#flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Product details section */
.product-details {
  flex: 1;
  padding: 20px;
}

.product-info h3 {
  margin: 0;
  font-size: 1.5rem;
}

.product-info p {
  margin: 5px 0;
  color: gray;
}

.product-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  
}

.main-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.image-gallery img {
  max-width: calc(33.33% - 10px);
  height: auto;
  margin-right: 10px;
  border-radius: 10px;
}

.property-info {
  margin-top: 20px;
}

.property-info h3 {
  margin-bottom: 10px;
}

.about p {
  margin: 5px 0;
}

.amenities {
  margin-top: 20px;
}

.amenities h3 {
  margin-bottom: 10px;
}

/* Booking form section */
.booking-form {
  flex: 1;
  padding: 20px;
}

.booking-card {
  border: 1px solid #ffffff;
  padding: 20px;
}

.booking-card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.booking-card label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
.booking-card input{
  width: 600px;
}

.booking-card input,
.booking-card select {
  
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #678983;
  border-radius: 5px;
  background-color: white;
  
}
#cc{
  color: #181d31;
}
#bb{
  border: 2px solid #678983;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}
#coupon input{
  height: 18px;
}
#coupon button{
  height: 40px;
  margin-top: 5px;
}
#coupon{
  display: flex;
  
  gap: 80px;
}

.booking-card button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #678983;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.booking-card button:hover{
  background-color: #398073;
}
#total{
  margin-top: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.expiry,.buttons{
  display: flex;
  gap: 20px;
}

.expiry>div>input{
  width: 100px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #flex-container {
    flex-direction: column;
  }
  
  .product-details,
  .booking-form {
    width: 100%;
  }
  
  .image-gallery img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.property-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.property-type {
  flex: 1;
}

.about {
  flex: 1;
  
}

.about h3 {
  margin: 0;
  font-size: 1.5rem;
}
#gg{
  color: #678983;
  text-transform: uppercase;
}

.about p {
  margin: 5px 0;
}

.amenities {
  margin-top: 20px;
}

.amenities h3 {
  margin-bottom: 10px;
}

.amenities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.amenities-list p {
  margin: 0;
  padding: 5px 10px;
  color: white;
  background-color: #678983;
  border-radius: 5px;
}
#cancel-button{
  background-color: rgb(179, 75, 75);
}