/* ProductDetail.css */

/* Color palette */
:root {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #ffffff;
  --main-text-color: #333333;
  --accent-color: #4caf50;
}

/* Main container */
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
}

/* Product info */
.product-info {
  text-align: center;
}

.product-info h3 {
  margin-bottom: 10px;
}

/* Updated styles for image gallery */
.image-gallery {
  display: flex;
  margin-top: 20px;
}

.image-gallery .main-images {
  flex-basis: 60%; /* Main image takes 60% of the width */
}

.image-gallery .main-images img {
  width: 100%;
  max-height: 600px; /* Increase the maximum height for a bigger image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.image-gallery .side-images {
  flex-basis: 40%; /* Gallery images take 40% of the width */
  margin-left: 20px; /* Add some spacing between main and side images */
  display: flex;
  flex-direction: column; /* Display side images in a vertical layout */
}

/* Updated styles for side images */
.image-gallery .side-images img {
  width: 100%;
  max-height: 150px; /* Increase the maximum height for smaller side images */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Property info */
.property-info {
  margin-top: 20px;
}

.property-info h3 {
  margin-bottom: 10px;
}

/* Amenities */
.amenities {
  margin-top: 20px;
}

.amenities h3 {
  margin-bottom: 10px;
}

.amenities div p {
  margin: 5px 0;
}

/* Booking card */
.booking-card {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-card label {
  font-weight: bold;
}

.booking-card input,
.booking-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.booking-card input[type="date"] {
  appearance: none;
  background-color: #ffffff;
}

.booking-card h3 {
  margin: 10px 0;
}

.booking-card button {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.booking-card button:hover {
  background-color: #45a049;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .image-gallery {
    flex-direction: column;
  }

  .image-gallery .main-images img {
    max-height: 300px;
  }

  .image-gallery .side-images {
    grid-template-columns: repeat(2, 1fr);
  }
}
