/* Home.css */

/* Styling for the container */
.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: auto;
  }
  
  /* Styling for individual cards */
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
  }
  
  /* Styling for the card image */
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
    text-decoration: none; 
  }
  
  /* Styling for the rating */
  .card p {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ffac33;
    text-decoration: none; 
  }
  
  /* Styling for the star icon */
  .card p svg {
    margin-right: 5px;
  }
  
  /* Styling for the location */
  .card p,
  .card h4 {
    margin: 5px 0;
    color: #555;
  }
  
  /* Styling for the price */
  .card h4 {
    font-size: 18px;
    font-weight: bold;
    color: #486862;
  }
  
  /* Styling for the login and signup buttons */
  div > button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #22b8cf;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  div > button:hover {
    background-color: #1a98b9;
  }
  .Seemore{
    margin-top: 10px;
    background-color: #678983;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
  }
  .Seemore:hover{
    background-color: #486a64;
    cursor: pointer;
  }
  .golden {
    color: #ffac33; 
  }
  .night{
    color: #555;
    font-weight: 400;
  }
  #like{
    background-color: transparent;
    color: red;
    font-size: 25px;
  }
  #like {
    position: absolute;
    margin-top: -120px;
    margin-left: 235px;
  }

  
  